
h1{
	color: black;
	text-align: center;
	font-size: 20px; 
}

#anotherh1{
	color: blue;
	font-family: "Times";
}

#anotherh1:hover{
	color: yellow;
	opacity: 0;
	transform: translateY(2px);
}

#thisisadiv{
	background-color: red;
	height: 100px;
	width: 100px;
}

#purple{
	background-color: purple;
	height: 50px;
	width: 50px;
}

/* comment */
